* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-family: sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
  font-size: 14px;
  font-family: sans-serif;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: '';
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #8a6eff 0%, #ad99fe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 42px 17% 28px 12%;
}

.right-panel {
  pointer-events: none;
  padding: 42px 12% 28px 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.content h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 22px;
}

.content p {
  padding: 10px 0;
}

.panel-btn {
  width: 130px;
  height: 41px;
  outline: none;
  border-radius: 49px;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  background: none;
  font-weight: 600;
}

.panel .image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .sign-in-up {
  left: 25%;
}

.container.sign-up-mode .sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode .sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sign-in-up {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.sign-in-form,
.sign-up-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 70px;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.sign-up-form {
  opacity: 0;
  z-index: 1;
}

.sign-in-form {
  z-index: 2;
}

.form-title {
  font-size: 30px;
  color: #444;
  margin-bottom: 10px;
}

.form-input {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  line-height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 6px;
  position: relative;
}

.form-input i {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.form-input input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

.form-input input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 10px 0;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-link {
  margin: 0 4px;
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}

.social-link:hover {
  color: #6c48ff;
}

.social-icon {
  width: 38px;
  height: 38px;
  vertical-align: -4px;
  fill: currentColor;
  overflow: hidden;
}

.form-btn {
  width: 150px;
  background-color: #8a6eff;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.form-btn:hover {
  background-color: #6c48ff;
}

@media (max-width: 870px) {
  .container {
    min-height: 760px;
    height: 100vh;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 35px 8%;
    grid-column: 1 / span 1;
  }

  .right-panel {
    grid-row: 3 / span 1;
  }

  .left-panel {
    grid-row: 1 / span 1;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .content h3 {
    font-size: 18px;
  }

  .content p {
    font-size: 12px;
    padding: 8px 0;
  }

  .panel-btn {
    width: 110px;
    height: 35px;
    font-size: 12px;
  }

  .panel .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .sign-in-up {
    top: 5%;
    transform: translate(-50%, 0);
  }

  .sign-in-up {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .sign-in-up,
  .container.sign-up-mode .sign-in-up {
    left: 50%;
  }
}

@media (max-width: 570px) {
  .container {
    padding: 20px;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }

  .panel .content {
    padding: 8px 14px;
  }

  .panel .image {
    display: none;
  }

  .sign-in-form,
  .sign-up-form {
    padding: 0 22px;
  }
}