{% extends "model.html" %}
{% block title %}阿里云登录{% endblock %}
{% block content %}
<div class="text-center">
    <p>请打开阿里云APP，在60s内进行扫码登录</p>
    <div class="alert alert-warning" role="alert" id="alertdiv">
        <strong>注意!</strong>扫码完成后需要静等两秒才能登录成功
    </div>
    <img src="" class="img-fluid" id="qrcode" width="300px" height="300px">
    <div class="row">
        <div class="col">
            <span class="badge" id="tipspan">null</span>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#tipspan").addClass('bg-danger');
            $("#qrcode").attr('src', '{{src}}').load();
        }, 2000);
        t1 = setInterval(function () {
            $.ajax({
                type: "POST",
                url: '/online',
                success: function (res) {
                    $("#tipspan").html(res)
                    if (res == '<i class="bi bi-check-circle"></i>登录成功') {
                        $("#tipspan").removeClass('bg-danger');
                        $("#tipspan").addClass('bg-success');
                        clearInterval(t1);
                        location.href = '/'
                    }
                }
            })
        }, 1000)
        setTimeout(function () {
            clearInterval(t1);
            $("#alertdiv").html("<strong>注意!</strong>扫码登录超时，请刷新重试，在60秒内进行扫码登录。");
            $("#qrcode").attr('src', '#').load();
        }, 72000);
    });
</script>
{% endblock %}