{% extends "model.html" %}
{% block title %}欢迎页面{% endblock %}
{% block content %}
<div class="container p-1 my-1">
    <form action="/signin" method="post">
        <div class="form-floating mb-3">
            <input maxlength="15" required type="text" class="form-control" id="usn1" placeholder="用户名" name="username">
            <label for="usn1"><i class="bi bi-person-circle"></i>用户名</label>
        </div>
        <div class="form-floating">
            <input maxlength="25" required type="password" class="form-control" id="pswd1" placeholder="密码"
                name="password">
            <label for="pswd1"><i class="bi bi-lock-fill"></i>密码</label>
        </div>
        <br>
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-10">
                <div class="text-center d-grid gap-2">
                    <div class="btn-group">
                        <button class="btn btn-outline-dark" type="submit"><i
                                class="bi bi-box-arrow-in-right"></i>登录</button>
                        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                            data-bs-target="#signupModal"><i class="bi bi-vector-pen"></i>
                            注册
                        </button>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <br>
        <div class="row">
            <div class="text-center"  data-bs-toggle="modal"
            data-bs-target="#fetchModal"><span class="badge rounded-pill text-bg-secondary"><small>找回账号</small></span></div>
        </div>
    </form>
</div>
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="signupModalLabel">注册页面</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/signup" method="post">
                    <div class="form-floating mb-3">
                        <input maxlength="15" minlength="2" required type="text" class="form-control" name="nickname" id="nknm"
                            placeholder="昵称">
                        <label for="nknm"><i class="bi bi-balloon-heart-fill"></i>昵称</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input maxlength="15" minlength="3" required type="text" class="form-control" name="username" id="usn2"
                            placeholder="用户名" oninput="value=value.replace(/[^\w_]/g,'')">
                        <label for="usn2"><i class="bi bi-person-circle"></i>用户名(字母、数字、下划线)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input maxlength="40" required type="email" class="form-control" name="email" id="email"
                            placeholder="邮箱">
                        <label for="email"><i class="bi bi-envelope"></i>邮箱</label>
                    </div>
                    <div class="text-start">
                        <p id="confirmmail"><small></small></p>
                    </div>
                    <div class="form-floating">
                        <input maxlength="40" minlength="6" required type="password" class="form-control" name="password" id="psw2"
                            placeholder="密码">
                        <label for="psw2"><i class="bi bi-lock-fill"></i>密码</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input maxlength="40" minlength="6" required type="password" class="form-control" name="vpassword" id="psw3"
                            placeholder="确认密码">
                        <label for="psw3"><i class="bi bi-lock-fill"></i>确认密码</label>
                    </div>
                    <div class="text-start">
                        <p id="confirmpsw"><small></small></p>
                    </div>
                    <div class="input-group">
                        <input maxlength="5" required type="number" class="form-control" name="vcode" id="vcode"
                            placeholder="验证码">
                        <button class="btn btn-outline-dark" id="sendVcode"><i class="bi bi-send"></i>发送验证码</button>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-lg-6">
                            <div class="text-center d-grid gap-2">
                                <button id="registerbtn" class="btn btn-outline-dark" type="submit"><i
                                        class="bi bi-vector-pen"></i>注册</button>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="fetchModal" tabindex="-1" aria-labelledby="fetchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="fetchModalLabel">找回页面</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/fetch" method="post">
                    <div class="form-floating mb-3">
                        <input maxlength="40" required type="email" class="form-control" name="email" id="email2"
                            placeholder="邮箱">
                        <label for="email"><i class="bi bi-envelope"></i>邮箱</label>
                    </div>
                    <div class="text-start">
                        <p id="confirmmail2"><small></small></p>
                    </div>
                    <div class="input-group">
                        <input maxlength="5" required type="number" class="form-control" name="vcode" id="vcode"
                            placeholder="验证码">
                        <button class="btn btn-outline-dark" id="sendVcode2"><i class="bi bi-send"></i>发送验证码</button>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-lg-6">
                            <div class="text-center d-grid gap-2">
                                <button id="registerbtn" class="btn btn-outline-dark" type="submit">
                                    <i class="bi bi-patch-check"></i>确认验证</button>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function counttime() {
        $("#sendVcode").text('已发送')
        $('#email').attr('readonly', true)
        second = 60
        t1 = setInterval(freshBtn, 1000)
    }
    function freshBtn() {
        second = second - 1
        $("#sendVcode").text(String(second) + "秒后重发")
        if (second == 0) {
            $("#sendVcode").removeAttr("disabled")
            $("#sendVcode").text('重新发送')
            $("#email").removeAttr("readonly")
            clearInterval(t1)
        }
    }
    function counttime2() {
        $("#sendVcode2").text('已发送')
        $('#email2').attr('readonly', true)
        second = 60
        t1 = setInterval(freshBtn2, 1000)
    }
    function freshBtn2() {
        second = second - 1
        $("#sendVcode2").text(String(second) + "秒后重发")
        if (second == 0) {
            $("#sendVcode2").removeAttr("disabled")
            $("#sendVcode2").text('重新发送')
            $("#email2").removeAttr("readonly")
            clearInterval(t1)
        }
    }
    $(document).ready(function () {
        $("#confirmmail").css("color", "red");
        $("#confirmmail").text("邮箱格式不正确");
        $("#confirmmail2").css("color", "red");
        $("#confirmmail2").text("邮箱格式不正确");
        $("#confirmpsw").css("color", "red");
        $("#confirmpsw").text("两次密码输入不一致");
        $('#email').keyup(function () {
            let email = $(this).val();
            let pattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            if (pattern.test(email)) {
                $("#confirmmail").css("color", "green");
                $("#confirmmail").text("邮箱格式合法！");
            } else {
                $("#confirmmail").css("color", "red");
                $("#confirmmail").text("邮箱格式不正确");
            }
        });
        $('#email2').keyup(function () {
            let email = $(this).val();
            let pattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            if (pattern.test(email)) {
                $("#confirmmail2").css("color", "green");
                $("#confirmmail2").text("邮箱格式合法！");
            } else {
                $("#confirmmail2").css("color", "red");
                $("#confirmmail2").text("邮箱格式不正确");
            }
        });
        $('#psw3').keyup(function () {
            let password1 = $('#psw3').val();
            let password2 = $('#psw2').val();
            if (password1 != password2) {
                $("#confirmpsw").css("color", "red");
                $("#confirmpsw").text("两次密码输入不一致");
            } else {
                $("#confirmpsw").css("color", "green");
                $("#confirmpsw").text("密码验证成功！");
            }
        });
        $("#sendVcode").click(function () {
            $("#sendVcode").attr("disabled", true);
            event.preventDefault();
            let mailAdress = $("#email").val()
            let verifyMail=$("#confirmmail").text()
            if (mailAdress==""){
                alert('邮箱为空');
                $("#sendVcode").removeAttr("disabled");
            }else if(verifyMail=="邮箱格式不正确"){
                alert("邮箱格式非法");
                $("#sendVcode").removeAttr("disabled");
            }else{
                let rawdata = {
                    "mailAdress": mailAdress
                }
                let subdata = JSON.stringify(rawdata)
                $.ajax({
                    type: "POST",
                    url: '/sendcode',
                    contentType: "application/json",
                    dataType: "json",
                    data: subdata,
                    success: function (res) {
                        counttime()
                    }
                })
            }
        });
        $("#sendVcode2").click(function () {
            $("#sendVcode2").attr("disabled", true);
            event.preventDefault();
            let mailAdress = $("#email2").val();
            let verifyMail=$("#confirmmail2").text();
            if (mailAdress==""){
                alert('邮箱为空');
                $("#sendVcode2").removeAttr("disabled");
            }else if(verifyMail=="邮箱格式不正确"){
                alert("邮箱格式非法");
                $("#sendVcode2").removeAttr("disabled");
            }else{
                let rawdata = {
                    "mailAdress": mailAdress
                }
                let subdata = JSON.stringify(rawdata)
                $.ajax({
                    type: "POST",
                    url: '/sendcode',
                    contentType: "application/json",
                    dataType: "json",
                    data: subdata,
                    success: function (res) {
                        counttime2()
                    }
                })
            }
        });
    });
</script>
{% endblock %}